@page
<h4 class="bg-danger text-white text-center p-2">Access Denied 你无权访问</h4>
<div class="m-2">
    <h6>you are not authorized for this url</h6>
    <a class="btn btn-outline-danger" href="/">Ok，好的</a>
    <a class="btn btn-outline-secondary" asp-page="Logout">Logout</a>
</div>