@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">hello world!</a>.</p>
    <div class="row">
        <div class="col">
            <a class="nav-link text-black" asp-controller="Account" asp-action="Index">登录状态</a>
        </div>
        <div class="col">
            <a class="nav-link text-black" asp-controller="Admin" asp-action="Index">管理</a>
        </div>
    </div>


</div>
