@using LoginModel = Dispatcher.Models.ViewModels.LoginModel
@model LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>